#chat-container {
    height:0px;
    padding-bottom:50%;
    position: relative;
    /*height: 150px;*/
    background-color: #f5f5f5;
    /*border:2px solid;*/
    border-radius: 10px;
    border-color: #398439;
    box-shadow: 1px 2px 2px #888888;
    overflow:hidden;
    margin-bottom: 20px;
}

#room-info .list-group li {
    color: #000;
}

.site-wrapper-inner {
    background-color: white;
}